# Network Configuration
VITE_ARC_CONTRACT_ADDRESS=0x4AD92eAFb8867f4d5c95dcB7eDc922E30B3bc1C8
VITE_ARC_RPC=https://rpc.testnet.arc.network
VITE_THIRDWEB_CLIENT_ID=33df2adaf240de11d97651104a14c461

# API / Keeper URL
VITE_KEEPER_URL=https://api.15market.online
VITE_KEEPER_URL_ARC=https://api.15market.online/arc

# Security
VITE_ADMIN_TOKEN=15MARKET_ADMIN_SECRET_KEY_2024

# Reown / WalletConnect Project ID
VITE_REOWN_PROJECT_ID=c57ca95b47569778a828d19178114f4d
